<!DOCTYPE html>
<html>
<head>
<title>Animation - demo</title>
<script src="angular.min.js"></script>
<script src="angular-animate.min.js"></script>
<script src="jquery1-7-2.js"></script>
<script src="app37.js"></script>
</head>

<body ng-app="myApp">
 <div ng-init="items=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
  <input placeholder="Filter Items..." ng-model="f" /> 
  <div data-ng-repeat="item in items | filter:f track by item" class="repeat-animation">
    {{item}}
  </div>
</div>
</body>
</html>