<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Built-in directives - demo</title>
<script src="angular.min.js"></script>
<script src="app17.js"></script>
</head>
<body>
<h3>Built-in directives Demo</h3>
<div ng-controller="myController" >
    <form>
        <input type="text" name="firstName" ng-model="myForm.firstName"> First name <br/>
        <input type="text" name="lastName"  ng-model="myForm.lastName"> Last name <br/>
		<input type="checkbox" ng-model="myForm.wantNewsletter" ng-true-value="yes" ng-false-value="no" >Subscribe to our Newsletter<br/>
		The present car you drive : <select ng-model="myForm.car">
            <option value="nissan">Nissan</option>
            <option value="toyota">Toyota</option>
            <option value="honda">Honda</option>
        </select><br/>
		The first car you drove : <select ng-model="myForm.firstCar"
		ng-options="obj.id as obj.name for obj in myForm.carOptions">
		</select><br/>
		

	</form>
	<br/><br/><br/><br/>Please verify your data :
    <div>
        {{myForm.firstName}} {{myForm.lastName}}  <br/>
		Your car is {{ myForm.car }}  <br/>
		Your first car was a {{myForm.firstCar }} <br/>
    </div>
</div>
</body>
</html>